:root {
    --azulClaro: rgb(168, 218, 220);
    --azulEscuro: rgb(69, 123, 157);
    --brancoGelo: rgb(241, 250, 238);
    --dourado: rgb(233, 196, 106);
}

@font-face {
    font-family: caveat;
    src: url("C:\Users\samue\OneDrive\Desktop\adoDIARIO\diario-front\src\assets\fonts\Caveat\static\Caveat-Regular.ttf");
}

.fazerNotas-geral{
    background-color: var(--azulClaro);
    padding: 0;
    margin: -1px 0 0 0;
    
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fazerNotas-geral header{
    width: 100vw;
    padding: 10px 0 40px 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fazerNotas-geral header p{
    color: transparent;
}

.fazerNotas-geral header .botaoSair{
    width: 70px;
    height: 36px;
    border-radius: 10px;
    background: url(../../assets/images/botaoSAIR.png) no-repeat;
    border-left: solid 1px transparent;
    border-top: solid 1px transparent;
    box-shadow: 2px 2px 0.5px black;
}

.fazerNotas-geral header h1{
    font-family: caveat;
    font-size: 40px;
}

.fazerNotas-geral main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
    border-radius: 10px;

    padding: 40px;
    width: 70%;
    min-width: 300px;
    max-width: 1200px;
    height: 60vh;
    max-height: 450px;
    background: var(--azulEscuro);
}

.fazerNotas-geral main button{
    padding: 10px 0;
    width: 200px;
    margin: 60px auto 0 auto;

    border: transparent;
    border-radius: 10px;
    background-color: var(--dourado);

    font-family: caveat;
    font-size: 25px;
}