.geral-camposLabels{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100%;
    max-width: 450px;

    color: white;    
    input{
        padding: 5px 4px;
        border:solid 1px transparent;
        border-radius: 4px;
    }

    input[id='conteudoNota']{
        display: flex;        
        align-items: flex-start;
    }

    input[type=date]{
        width: 200px;
    }
}